---
import logo from '../assets/logo-full-border-white.svg';
import background from '../assets/bg-03.webp';
---

<div id="container" class="flex w-full h-full bg-black">
	<main class="flex w-full">
		<div class="flex w-3/6 justify-end">
			<img src={logo.src} class="w-80" alt=""/>
		</div>
		<div class="flex w-full items-end">
			<img src={background.src} class="w-full h-max" alt=""/>
		</div>
	</main>
</div>